/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nosplit {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}